<free-shipping-component class="haloCalculatorShipping" data-free-shipping-wrapper style="display: block;">
    <div class="progress{% if cart.item_count == 0 %} progress-hidden{% endif %}" data-text-enabled="{{ settings.calculator_free_shipping_message_show_percent  }}" data-shipping-progress>
      <div class="progress_shipping" role="progressbar">
            <div class="progress-meter" style="width: 0" data-free-shipping-progress-meter>
            {% if settings.calculator_free_shipping_message_show_percent %}
              <span class="text">0%</span>
            {% endif %}
            {% if settings.calculator_free_shipping_message_show_truck %}
              <div class="progress-truck-wrapper">
                {% render 'icon-shipping-truck' %}
              </div>
            {% endif %}
          </div>
        </div>
    </div>
    <div class="message" data-shipping-message=""></div>
</free-shipping-component>