<div class="halo-lookbook-popup style-1" data-lookbook-popup>
    <div class="halo-popup-wrapper style-1">
        <div class="halo-popup-content lookbook-content custom-scrollbar"></div>
    </div>    
</div>