<div class="halo-popup halo-video-popup halo-popup-topDown" data-popup-video id="halo-video-popup">
    <div class="halo-popup-wrapper">
        <div class="halo-popup-header">
            <button type="button" class="halo-popup-close clearfix" data-close-video-popup aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}{{ 'general.common.close' | t }}</button>
        </div>
        <div class="halo-popup-content"></div>
    </div>    
</div>