<div class="halo-popup halo-notify-popup customPopup-small halo-popup-LeftRight" data-notify-popup id="halo-notify-popup">
    <div class="halo-popup-wrapper">
    	<div class="halo-popup-header customPopup-header">
		    <button type="button" class="halo-popup-close customPopup-close clearfix" data-close-notify-popup aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %} {{ 'general.common.close' | t }}</button>
		    <h5 class="halo-popup-title customPopup-title text-center">{{ settings.notify_form_title | escape }}</h5>
    	</div>
	    <div class="halo-popup-content custom-scrollbar">
	        <div class="halo-notifyMe halo-notifyMe--popup">{% render 'halo-notify-sold-out', show_message: true %}</div>
	    </div>
    </div>
</div>