<link rel="stylesheet" href="{{ 'component-card-mobile-popup.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-card-mobile-popup.css' | asset_url | stylesheet_tag }}</noscript>
<div class="halo-popup halo-card-mobile-popup halo-popup-topDown" data-card-mobile-popup id="halo-card-mobile-popup">
  <div class="halo-popup-wrapper">
      <div class="halo-popup-content custom-scrollbar halo-card-mobile-content"></div>
  </div>    
</div>