<div class="halo-popup halo-term-condition-popup halo-popup-topDown" data-term-condition-popup id="halo-term-condition-popup">
  <div class="halo-popup-wrapper">
      <div class="halo-popup-header">
          <button type="button" class="halo-popup-close clearfix" data-close-term-condition-popup aria-label="{{ 'general.common.close' | t }}">{% render 'icon-close' %}{{ 'general.common.close' | t }}</button>
          <h5 class="halo-popup-title text-center">{{ 'sections.term_condition' | t }}</h5>
      </div>
      <div class="halo-popup-content halo-popup-scroll custom-scrollbar">{{settings.global_checkbox_content}}</div>
  </div>    
</div>