{%- if settings.show_someone_purchase or settings.show_gdpr_cookie_consent -%}
<div class="footbar-fixed">
	<div class="footbar-fixed-right">
        {%- if settings.someone_purchase_position == 'right' -%}
            {% render 'halo-someone-purchase' %}
        {%- endif -%}
        {%- if settings.gdpr_cookie_consent_type == 'right' -%}
            {% render 'halo-gdpr-cookie-consent' %}
        {%- endif -%}
    </div>
	<div class="clearfix"></div>
    <div class="footbar-fixed-left{% if settings.gdpr_cookie_consent_type == 'right' and settings.someone_purchase_position == 'left' %} cookie_someone_right{% endif %}">
        {%- if settings.someone_purchase_position == 'left' -%}
            {% render 'halo-someone-purchase' %}
        {%- endif -%}
        {%- if settings.gdpr_cookie_consent_type == 'left' -%}
            {% render 'halo-gdpr-cookie-consent' %}
        {%- endif -%}
    </div>
</div>
{%- endif -%}

{% render 'halo-newsletter-success-popup' %}

{% render 'halo-lookbook-popup' %}

{% render 'halo-lookbook-popup-mobile' %}

{% render 'halo-video-popup' %}

{% render 'halo-product-list-view-popup' %}

{% render 'halo-product-custom-information' %}

{%- if settings.show_newsletter_popup -%}
	{% render 'halo-newsletter-popup' %}
{%- endif -%}

{%- if settings.show_recently_viewed_popup or settings.show_recently_viewed_share or settings.show_recently_viewed_top -%}
	{% render 'halo-recently-viewed-popup' %}
{%- endif -%}

{%- if settings.show_quick_edit_cart -%}
    {% render 'halo-edit-cart-popup' %}
{%- endif -%}

{%- if settings.show_ask_an_expert -%}
	{% render 'halo-ask-an-expert-popup' %}
{%- endif -%}

{%- if settings.show_notify_form -%}
	{% render 'halo-notify-me-popup' %}
{%- endif -%}

{%- if settings.after_add_to_cart == 'popup_cart_1' -%}
	{% render 'halo-cart-popup-1' %}
{%- endif -%}

{%- if settings.show_compare -%}
	{% render 'halo-compare-popup' %}
{%- endif -%}

{%- if settings.show_quick_view -%}
	{% render 'halo-quick-view-popup' %}
{%- endif -%}

{%- if settings.show_global_checkbox -%}
    {% render 'halo-term-condition-popup' %}
{%- endif -%}

{%- if settings.quick_shop_type == '2' -%}
    {% render 'halo-popup-card-mobile' %}
{%- elsif  settings.quick_shop_type == '3' -%}
    {% render 'halo-quickshop-popup' %}
{%- endif -%}

{%- if settings.enable_sticky_notification or settings.enable_sticky_notification_mb -%}
    {% render 'sticky-notification' %}
{%- endif -%} 

{% render 'halo-popup-warning' %}

{%- if settings.show_scroll_down_section -%}
    {% render 'halo-arrow-scroll-down' %}
{%- endif -%}