<div class="halo-popup" id="halo-product-custom-information">
    <div class="halo-popup-wrapper">
        <div class="halo-popup-header">
            <h5 class="halo-popup-title"></h5>
            <button type="button" class="halo-popup-close clearfix" data-close-custom-information aria-label="{{ 'general.common.close' | t }}">
                {% render 'icon-close' %}
                {{ 'general.common.close' | t }}
            </button>
        </div>
        <div class="halo-popup-content">
        </div>
    </div>    
</div>