{% case currency_iso %}
{% when 'AUD' %}
{% capture currency_flag %}d4e9cde3edb3e1732ec50170e158d750.svg{% endcapture %}
{% when 'ALL' %}
{% capture currency_flag %}f6a0535cd8609315b23f549883d787dd.svg{% endcapture %}
{% when 'ARS' %}
{% capture currency_flag %}90d588cd43b6dfc818a0ae8cad95f3bc.svg{% endcapture %}
{% when 'AWG' %}
{% capture currency_flag %}bd387d78a493236aeb8fbe6cd27e0216.svg{% endcapture %}
{% when 'ANG' %}
{% capture currency_flag %}24b938cacb711342635263c32067419d.svg{% endcapture %}
{% when 'AED' %}
{% capture currency_flag %}62a4257f72ece1437bc8eb7f0535327b.svg{% endcapture %}
{% when 'AFN' %}
{% capture currency_flag %}280ddfeb0fbeea88df7700ca4e9aa83b.svg{% endcapture %}
{% when 'AOA' %}
{% capture currency_flag %}f62ddbaeb213dc14772db01e0b47b9c3.svg{% endcapture %}
{% when 'AMD' %}
{% capture currency_flag %}506654e384fb737c5ba4b163c8e9ccc8.svg{% endcapture %}
{% when 'AZN' %}
{% capture currency_flag %}53777b986de0cc3fb6e297309d19add8.svg{% endcapture %}

{% when 'BSD' %}
{% capture currency_flag %}4c98d16787dd4d67ed4e6e870b60ff8e.svg{% endcapture %}
{% when 'BGN' %}
{% capture currency_flag %}1e109682c7a6302e0d362edc4647c49d.svg{% endcapture %}
{% when 'BAM' %}
{% capture currency_flag %}1f8230d8d831cb9ef0b1f6e90e894da8.svg{% endcapture %}
{% when 'BDT' %}
{% capture currency_flag %}f9381453ad0176558990c513e7ec68a7.svg{% endcapture %}
{% when 'BBD' %}
{% capture currency_flag %}e65b8f27c6a92b4bd87dbefeeaa58528.svg{% endcapture %}
{% when 'BZD' %}
{% capture currency_flag %}dc51b20172b928abe0f175e1d41e86f3.svg{% endcapture %}
{% when 'BMD' %}
{% capture currency_flag %}074a1bf6ce7cef639abb353f4b7ccd31.svg{% endcapture %}
{% when 'BOB' %}
{% capture currency_flag %}296613d32804850e80e3ad0fb7a34a00.svg{% endcapture %}
{% when 'BWP' %}
{% capture currency_flag %}5160e380e7d9d4df7858900eb2d90b4a.svg{% endcapture %}
{% when 'BRL' %}
{% capture currency_flag %}190073fb7652e7c635a1b91af0286b3c.svg{% endcapture %}
{% when 'BND' %}
{% capture currency_flag %}f5ab6fb24e5ab6e6dcdc64e088403b25.svg{% endcapture %}
{% when 'BIF' %}
{% capture currency_flag %}6425a017e2fdfd5ee4a09ab5af0cd072.svg{% endcapture %}

{% when 'CAD' %}
{% capture currency_flag %}422898ab4299eb270f856e6c1b8d2250.svg{% endcapture %}
{% when 'CDF' %}
{% capture currency_flag %}fbac05418dca57fe13428950e47b1ad5.svg{% endcapture %}
{% when 'CVE' %}
{% capture currency_flag %}f34347e8ae18ea501ca37ebf9a4ac18c.svg{% endcapture %}
{% when 'CLP' %}
{% capture currency_flag %}83c1742747147d77ac6b78f51b5fdb73.svg{% endcapture %}
{% when 'CNY' %}
{% capture currency_flag %}281afcbf105b6242112be9f146a87a6b.svg{% endcapture %}
{% when 'COP' %}
{% capture currency_flag %}8b1d284b99f86b267fa8eae7f6613487.svg{% endcapture %}
{% when 'CRC' %}
{% capture currency_flag %}90922bd6e1209322cd522b520d409857.svg{% endcapture %}
{% when 'CZK' %}
{% capture currency_flag %}5fdc4c9a711d951f5347e98d765a2e55.svg{% endcapture %}
{% when 'CHF' %}
{% capture currency_flag %}a5d4c82835e435ecff150a9a3426fed2.svg{% endcapture %}

{% when 'DKK' %}
{% capture currency_flag %}e60c493fdbe69069d943ecc37287aa90.svg{% endcapture %}
{% when 'DZD' %}
{% capture currency_flag %}6e7d8d9c5b0eca4d148e07f9186e84d5.svg{% endcapture %}
{% when 'DJF' %}
{% capture currency_flag %}c6c3e321f49af43dcbab796f19dd7b3d.svg{% endcapture %}
{% when 'DOP' %}
{% capture currency_flag %}2b212e08a5e81d53eeee9b925e1f531f.svg{% endcapture %}

{% when 'EGP' %}
{% capture currency_flag %}92bcdd48008c89485b416e95a6d616bc.svg{% endcapture %}
{% when 'EUR' %}
{% capture currency_flag %}9886b4168efb1ebf48006093aa9807c5.svg{% endcapture %}
{% when 'ETB' %}
{% capture currency_flag %}33cb7ef974be609673f80c45864b513b.svg{% endcapture %}

{% when 'FKP' %}
{% capture currency_flag %}09a222580d2c6d5501747a9bc111d01c.svg{% endcapture %}
{% when 'FJD' %}
{% capture currency_flag %}b847339090ff60c1426723664bf715b7.svg{% endcapture %}

{% when 'GBP' %}
{% capture currency_flag %}f9bbc4885a348eff84e4ef4155121fae.svg{% endcapture %}
{% when 'GEL' %}
{% capture currency_flag %}6b3677f69bfc71660f8bb52b2130d36b.svg{% endcapture %}
{% when 'GMD' %}
{% capture currency_flag %}422a5de9034890f6fe86920d2bc3febd.svg{% endcapture %}
{% when 'GIP' %}
{% capture currency_flag %}dde11cba29139f1d16f7a4102a983a1f.svg{% endcapture %}
{% when 'GTQ' %}
{% capture currency_flag %}f93fee732ee3b3f87481d7b69aead66e.svg{% endcapture %}
{% when 'GNF' %}
{% capture currency_flag %}ddf016595e291fab7729290131de5c99.svg{% endcapture %}
{% when 'GYD' %}
{% capture currency_flag %}75166e67d85de6d58755bcfcd11d8537.svg{% endcapture %}

{% when 'HKD' %}
{% capture currency_flag %}d242bcbc3c871d94219f0b46ce803944.svg{% endcapture %}
{% when 'HRK' %}
{% capture currency_flag %}d41387e593053dbeae44b77f4e6ebcf1.svg{% endcapture %}
{% when 'HTG' %}
{% capture currency_flag %}0f15695989d9a66f76d635d9aec28821.svg{% endcapture %}
{% when 'HNL' %}
{% capture currency_flag %}2f42eb27f2f7f81af3c06dab743c146c.svg{% endcapture %}
{% when 'HUF' %}
{% capture currency_flag %}56dba8dc8a7264257bade9d59affe875.svg{% endcapture %}

{% when 'ISK' %}
{% capture currency_flag %}a4b5f9f58b38d8787ef574204478a48a.svg{% endcapture %}
{% when 'INR' %}
{% capture currency_flag %}d17921a22d353f6f811236f13752cb4a.svg{% endcapture %}
{% when 'IDR' %}
{% capture currency_flag %}3711e166439fcda6921ce14331255b65.svg{% endcapture %}
{% when 'ILS' %}
{% capture currency_flag %}8c80e5f095e3f7b74e9ed91299556f54.svg{% endcapture %}

{% when 'JPY' %}
{% capture currency_flag %}a8e1297612e97e291633b038e0f94ec9.svg{% endcapture %}
{% when 'JMD' %}
{% capture currency_flag %}8edfaf3340cf00ed98bd0043da10d030.svg{% endcapture %}

{% when 'KHR' %}
{% capture currency_flag %}d0a1529a2bc836eca5c9348568da8e10.svg{% endcapture %}
{% when 'KGS' %}
{% capture currency_flag %}1c300d1965daa9bbc9e1f257aad2c49a.svg{% endcapture %}
{% when 'KMF' %}
{% capture currency_flag %}48086c50e8c489e7f5034b5ad49c99de.svg{% endcapture %}
{% when 'KYD' %}
{% capture currency_flag %}8d46a2b23b43a901287a73c6a6e857a6.svg{% endcapture %}
{% when 'KZT' %}
{% capture currency_flag %}f32329cf10747a10595a60a3a47d6aa5.svg{% endcapture %}
{% when 'KES' %}
{% capture currency_flag %}eaf171e1372159cba8b6b7d3e02d0ca1.svg{% endcapture %}
{% when 'KRW' %}
{% capture currency_flag %}107e3a39770bdb42b58f2a1ad58d6fc3.svg{% endcapture %}

{% when 'LAK' %}
{% capture currency_flag %}357684c6d329d32ee1078f624fc21ec8.svg{% endcapture %}
{% when 'LSL' %}
{% capture currency_flag %}5ab82d978aa777c57af09c96706ecad4.svg{% endcapture %}
{% when 'LBP' %}
{% capture currency_flag %}2cb066af5c3e2fac28adc32364948524.svg{% endcapture %}
{% when 'LRD' %}
{% capture currency_flag %}553261ea1c9e482e552f6e083cc96335.svg{% endcapture %}
{% when 'LKR' %}
{% capture currency_flag %}bbb62626aa2cfce592408c9ec8c94028.svg{% endcapture %}

{% when 'MAD' %}
{% capture currency_flag %}9f17079348e58e33612ae8fee54219e1.svg{% endcapture %}
{% when 'MOP' %}
{% capture currency_flag %}0a2a3be43fdbebfdc2715b277a830622.svg{% endcapture %}
{% when 'MKD' %}
{% capture currency_flag %}57947a8cb6d008d82ad29473db1c15fd.svg{% endcapture %}
{% when 'MWK' %}
{% capture currency_flag %}fd4ba8363c61f7c0bdc2f6bdb19ee070.svg{% endcapture %}
{% when 'MYR' %}
{% capture currency_flag %}f1113b840befbadc67cffa87e1c45ead.svg{% endcapture %}
{% when 'MVR' %}
{% capture currency_flag %}69f248fbb9c0ac2affe23a4f630f7649.svg{% endcapture %}
{% when 'MUR' %}
{% capture currency_flag %}5288135dd87d67908f8f6fb2de3459dc.svg{% endcapture %}
{% when 'MXN' %}
{% capture currency_flag %}2bcda95713919c2134876a7da635da80.svg{% endcapture %}
{% when 'MDL' %}
{% capture currency_flag %}2ea90210dba8b013e253fe6c4fed8bfe.svg{% endcapture %}
{% when 'MNT' %}
{% capture currency_flag %}1af575637a50c5aa3abaf0fdd74a5090.svg{% endcapture %}
{% when 'MZN' %}
{% capture currency_flag %}7e3070ef814ec2b7e398c4679074a729.svg{% endcapture %}
{% when 'MMK' %}
{% capture currency_flag %}65145a7d0d4ef0392ecf8e30dfd005cd.svg{% endcapture %}

{% when 'NAD' %}
{% capture currency_flag %}764e5a9eb64d99f6c42b20ab721a66c5.svg{% endcapture %}
{% when 'NZD' %}
{% capture currency_flag %}cacb9f87701ae2707676064d036a97b2.svg{% endcapture %}
{% when 'NPR' %}
{% capture currency_flag %}46470480131d59e63aa3a370cc3f67fe.svg{% endcapture %}
{% when 'NIO' %}
{% capture currency_flag %}69bb9d094ac599f2c924bedab7b0a7a2.svg{% endcapture %}
{% when 'NGN' %}
{% capture currency_flag %}1cbab4a233b45f33f1d7104e406151fb.svg{% endcapture %}
{% when 'NOK' %}
{% capture currency_flag %}d8dd9ad33e2d0c876096fbdfd87bcf31.svg{% endcapture %}

{% when 'PKR' %}
{% capture currency_flag %}06dc0dc5fb06b7cfb62f90ad1adc1165.svg{% endcapture %}
{% when 'PAB' %}
{% capture currency_flag %}d6618ed0765d18ae8f84e5e9f388d8a5.svg{% endcapture %}
{% when 'PGK' %}
{% capture currency_flag %}faff05a2a1001cb07c24eb56cae8c063.svg{% endcapture %}
{% when 'PYG' %}
{% capture currency_flag %}8d63b2cd6eb952ab13a805621e6f88fd.svg{% endcapture %}
{% when 'PEN' %}
{% capture currency_flag %}7a01283647bba9757de11562ec03a6df.svg{% endcapture %}
{% when 'PHP' %}
{% capture currency_flag %}f1f1be0826a18590542cda4ada4faa44.svg{% endcapture %}
{% when 'PLN' %}
{% capture currency_flag %}965125896e906dc4ccbf65fa398c386c.svg{% endcapture %}

{% when 'QAR' %}
{% capture currency_flag %}abbb13d0d51be956a943914ee3a0a6bc.svg{% endcapture %}

{% when 'RUB' %}
{% capture currency_flag %}9c1a810d3504219350bc861c006d1e7c.svg{% endcapture %}
{% when 'RON' %}
{% capture currency_flag %}f95d05d037cc37383722834b655b6f9f.svg{% endcapture %}
{% when 'RWF' %}
{% capture currency_flag %}e529cb3d49f79808ecfbddc4e5d1f457.svg{% endcapture %}
{% when 'RSD' %}
{% capture currency_flag %}7117c47434af50dfbd2498badda58072.svg{% endcapture %}

{% when 'SGD' %}
{% capture currency_flag %}e6485856d9a242f47cbc1f396429aa7c.svg{% endcapture %}
{% when 'SRD' %}
{% capture currency_flag %}7a7a2547a69f5a2da65897df1951cb48.svg{% endcapture %}
{% when 'STN' %}
{% capture currency_flag %}6a3ec4ae331b085d165347097f1b0038.svg{% endcapture %}
{% when 'STD' %}
{% capture currency_flag %}6a3ec4ae331b085d165347097f1b0038.svg{% endcapture %}
{% when 'SAR' %}
{% capture currency_flag %}67184cf8efa28372413ddf6d07294752.svg{% endcapture %}
{% when 'SCR' %}
{% capture currency_flag %}b39c28eca8cbd96e1dfec9fe6aab714c.svg{% endcapture %}
{% when 'SLL' %}
{% capture currency_flag %}e78c185acfd3ab1ecee2feeb8235ae34.svg{% endcapture %}
{% when 'SBD' %}
{% capture currency_flag %}7c461ab0cc6c4fc3c3c48de444647369.svg{% endcapture %}
{% when 'SHP' %}
{% capture currency_flag %}45e309bf03d453a29c9c4a898cb380b1.svg{% endcapture %}
{% when 'SZL' %}
{% capture currency_flag %}a1d3c785a2bb91230eb39fd2e3a62328.svg{% endcapture %}
{% when 'SEK' %}
{% capture currency_flag %}637920f30b717c7f4e826a4bb63bb552.svg{% endcapture %}

{% when 'TWD' %}
{% capture currency_flag %}cd9a4bcf3c00102a079f3fe1c59e9454.svg{% endcapture %}
{% when 'TRY' %}
{% capture currency_flag %}a318ff59f0ddc17d0800cc076df547c1.svg{% endcapture %}
{% when 'TJS' %}
{% capture currency_flag %}911060413e91f0bd8eec4d463c00f9ec.svg{% endcapture %}
{% when 'TZS' %}
{% capture currency_flag %}7abe9623d3d4b3daae448dd4653a9056.svg{% endcapture %}
{% when 'THB' %}
{% capture currency_flag %}b1c0fbea97239cbc138a8757be40c215.svg{% endcapture %}
{% when 'TOP' %}
{% capture currency_flag %}94f50180f8c9decd9f8da97b6484c715.svg{% endcapture %}
{% when 'TTD' %}
{% capture currency_flag %}13ab81fcc7ba1c75fbadd333812985ca.svg{% endcapture %}

{% when 'USD' %}
{% capture currency_flag %}7f0109d94c888a663452af48e2d324d7.svg{% endcapture %}
{% when 'UGX' %}
{% capture currency_flag %}1c9ac508507da9f5143f13b686b02998.svg{% endcapture %}
{% when 'UAH' %}
{% capture currency_flag %}23f6d67ac886d000a5735357ebdcbe91.svg{% endcapture %}
{% when 'UYU' %}
{% capture currency_flag %}da361819d298366b78d93977fe54567b.svg{% endcapture %}
{% when 'UZS' %}
{% capture currency_flag %}183fa878c9e058b287c7c3752d145c3b.svg{% endcapture %}

{% when 'VUV' %}
{% capture currency_flag %}e158d1a9c33dbda0c7cde5b522cb64c2.svg{% endcapture %}
{% when 'VND' %}
{% capture currency_flag %}3baca05a6f5d1e7682c2b7c53f1e69db.svg{% endcapture %}

{% when 'WST' %}
{% capture currency_flag %}7b3c6c76864019f9d4c9874bd6c5bd82.svg{% endcapture %}

{% when 'XAF' %}
{% capture currency_flag %}4714259873a1c6de6957c5a3c61bf7b4.svg{% endcapture %}
{% when 'XOF' %}
{% capture currency_flag %}4714259873a1c6de6957c5a3c61bf7b4.svg{% endcapture %}
{% when 'XPF' %}
{% capture currency_flag %}4714259873a1c6de6957c5a3c61bf7b4.svg{% endcapture %}
{% when 'XCD' %}
{% capture currency_flag %}c5e533d636929ef7f1ac7ceaeba33815.svg{% endcapture %}

{% when 'YER' %}
{% capture currency_flag %}e867ba4b3304d58512c3281004e46ba9.svg{% endcapture %}

{% when 'ZAR' %}
{% capture currency_flag %}898f31f51a4effc0fabe5a779a6420c6.svg{% endcapture %}
{% when 'ZMW' %}
{% capture currency_flag %}a34f2983e214a3615f6a02bffc1a6e71.svg{% endcapture %}

{% else %}
{% capture currency_flag %}0a3a6a4d64cf56f43256eb316fcc5d0e.svg{% endcapture %}

{% endcase %}
<span class="img-icon"><img src="https://cdn.shopify.com/shopifycloud/web/assets/v1/{{currency_flag}}" alt="{{ currency_iso }}" /></span>