<coupon-code class="discount-code-field"> 
  <label for="coupon-code">{{ section.settings.coupon_title }}</label> 
  <input autocomplete="off" type="text" name="discount" id="coupon-code" /> 
  <p>{{ section.settings.coupon_content }}</p>
</coupon-code>
