{% layout none %}

{%- for tag in current_tags -%}
    {%- if tag contains 'limit=' -%}
        {%- assign limit = tag | remove: 'limit=' -%}
    {%- elsif tag contains 'page=' -%}
        {%- assign page = tag | remove: 'page=' -%}    
    {%- elsif tag contains 'sectionId=' -%}
        {%- assign sectionId = tag | remove: 'sectionId=' -%}
    {%- elsif tag contains 'imageRatio=' -%}
        {%- assign image_ratio = tag | remove: 'imageRatio=' -%}
    {%- elsif tag contains 'swipe=' -%}
        {%- assign swipe = tag | remove: 'swipe=' -%}
    {%- endif -%}
{%- endfor -%}

{%- liquid
    assign end = limit | times: page
    assign start = end | minus: limit | plus: 1
-%}

{%- for product in collections[collection.handle].products limit: end -%}
    {%- if forloop.index >= start -%}
        <div class="product{% if swipe == 'true' %} slider__slide grid__item{% endif %}{% if settings.banner_animation == 'effect_fade_up' %} scroll-trigger animate--slide-in{% endif %}">
            {% render 'product-grid-layout',
            product_card_product: product,
            portrait_aspect_ratio: '125',
            serial: forloop.index,
            sectionId: sectionId,
            media_size: image_ratio,
            hasCountdown: hasCountdown,
            loading: true
        %}
        </div>
    {%- endif -%}
{%- endfor -%}